<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	{% load static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
	
</head>
<body>
	<div class="container">
		
        <div class="nav">
            <ul>
                <li><span class="black-logo"></span> Next Home<span class="blue">.</span></li>
                <li class="gray">Home</li>
                <li class="gray">Join</li>
            </ul>
        </div>
        <div class="hero">
            <div class="text">
                <h1>Create new account <span class="blue">.</span></h1>
                <p class="gray">Don't have an account ? <a href="{% url 'register' %}">Register</a></p>
            </div>
            <div class="form">
                <div class="id">
                    <div class="input-icons">
                        <legend for="email">Email</legend>
                        <div class="icon-center">
                            <input class="input" type="email" id="email">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-envelope-fill" viewBox="0 0 16 16">
                                <path
                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z" />
                            </svg>
                        </div>
                    </div>
                    <div class="input-icons">
                        <legend for="password">Password</legend>
                        <div class="icon-center">
                            <input class="input" type="password" id="password">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <!-- <button class="btn gray-btn">Change method</button> -->
                    <button class="btn blue-btn">Login</button>
                </div>
            </div>
        </div>
    </div>

</body>	